* {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: gray;

}

a:hover {
    border-bottom: 1px solid gray;
}

#left-header {
    float: left;
}

#right-header {
    float: right;
}

header {
    padding: 1px;
}

main {

}